<launch>
   <node pkg="phidgets" type="motor" name="left_motor"  >
	 <param name="serial" value="473018"/>
     <param name="name" value="left_motor"/>
  </node>

   <node pkg="phidgets" type="motor" name="right_motor"  >
	 <param name="serial" value="478403"/>
     <param name="name" value="right_motor"/>
  </node>


  <!-- keyboard control node -->

  <node pkg="ras_keyboard_control" type="motor_controller.py" name="motor_controller">
  </node>

  <!-- tf for odom to base link -->
  <node pkg="ras_robot_tf" type="tf_broadcaster" name="tf_broadcaster">
  </node>

  <!-- tf static from sensors to base link  -->
  <node pkg="tf" type="static_transform_publisher" name="base_2_laser" args="0 0 0.2 0 0 0 1 /base_link /laser 100" />

  <node pkg="tf" type="static_transform_publisher" name="base_2_camera" args="0.1 0 0.2 -0.5 -0.5 0.5 0.5 /base_link /camera_link 100" />

  <!-- loading maze node -->
  <arg name="map_file" default="lab_maze_2017.txt" />
  <arg name="x_offset" default="0.0"/>
  <arg name="y_offset" default="0.0"/>
  <arg name="theta_offset" default="0.0"/>

  <!-- load the world node-->
  <node pkg="ras_grid_map" type="maze_map_node" name="maze_map_node"  >
	 <param name="map_file" value="$(find ras_grid_map)/maps/$(arg map_file)"/>
  </node>
 
  
  <!-- publish the transform from odom to map frames -->
  <include file="$(find ras_grid_launch)/launch/static_tf.launch">
	<arg name="x_offset" value="$(arg x_offset)"/>
	<arg name="y_offset" value="$(arg y_offset)"/>
	<arg name="theta_offset" value="$(arg theta_offset)"/>
  </include>


  <!-- launch realsense launch file -->
  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"> 
  </include>

  <!-- launch object detection node -->
  <node pkg="ras_object_detection_python" type="keras_object_detection_2.py" name="object_detection_python_node"  />
  <!--<node pkg="object_detection_test" type="object_detection_test" name="object_detection_test" />-->
 
  <!-- launch tf listener from cam link to base link for objects -->
  <node pkg="ras_object_detection_python" type="object_tf.py" name="object_tf"  />
  <!--<node pkg="object_detection_test" type="object_tf_classical.py" name="object_tf_classical"  />-->
 
  <!-- launch object saving/tracking node -->
  <node pkg="object_saving" type="object_saving" name="object_saving" output="screen" />
 
  <!-- launch lidar launch file -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"> 
  </include>

  <!-- run MCL node -->
  <node pkg="MCL_python" type="mcl.py" name="MCL node">
  </node>

  <!-- run MCL node 
  <node pkg="arduino_servo_control" type="servo_control.py" name="servo_control" /> -->

  <!-- <node pkg="arduino_servo_control" type="gripper.py" name="gripper" /> --> 

  <!-- run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ras_project_launch)/maze.rviz" />

</launch>
